

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <%= simple_form_for @cocktail do |f|%>
        <%= f.input :name, label: false, placeholder: "Add cocktail name"  %>
        <%= f.input :content, label: false, placeholder: "Add cocktail description" %>
        <%= f.input :photo, label: false %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "btn btn-lg btn-info btn-black"%>
      <% end %>
      <style>
      .form-control {
        font-family: 'Amatic SC' !important;
        font-size: 20px;
      }
      </style>

    </div>
  </div>
</div>
