<div class="container">
  <div class="text-center">

    <div class="row">
      <div class="col-xs-6">
        <% if @cocktail.photo.present? %>
        <div class="card cocktail" id="img-cocktail" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url('<%= cl_image_path @cocktail.photo %>');">
          <% else %>
          <div class="card cocktail" id="img-cocktail" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url('https://source.unsplash.com/600x600/?cocktail, beverages, <%= @cocktail.name %>');">
            <% end %>
            <div class="card-description">
              <h1><%= @cocktail.name %></h1>
              <h6><%= @cocktail.content %></h6>

                <%= link_to "Edit cocktail description", edit_cocktail_path(@cocktail), class: "btn" %>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="ingredient-card">
              <h2>Ingredients:</h2>
              <hr>
              <div class="row">

                <% @cocktail.doses.each do |dose| %>
                <div class="col-xs-3 card ingredient">
                  <div class="card-body ingredient">
                    <h5 class="card-title ingredient"><%= dose.ingredient.name %></h5>
                    <p class="card-subtitle mb-2 text-muted ingredient"><%= dose.description %></p>
                    <!-- <p class="card-text ingredient">Description</p> -->
                    <%= link_to dose_path(dose),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %><i class="far fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
              <hr>
              <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-black" %>
            </div>
          </div>
        </div>
      </div>
    </div>




