<!DOCTYPE html>
<html>
<head>
  <title>Mister.Cocktail</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Cabin+Sketch:400,700|Open+Sans" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->

</head>

<body>
<%= render "layouts/navbar" %>
  <%= yield %>
</body>
</html>
